pycparser
pydantic
pydantic-settings
pydantic_core
pytest
uvicorn
fastapi
python-jose
passlib
peewee
websockets
wsproto
requests
starlette
bcrypt
pyjwt
pymysql
gunicorn
cryptography
mysql-connector-python
pymongo
pypdf2
langchain
langchain-community
langchain-core
openai
pypdf2
tiktoken
python-docx
chromadb
gpt4all
