services:
  database:
    image: mysql:latest
    ports:
      - 3306:3306
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rag-system
      MYSQL_DATABASE: test_sql
      MYSQL_USER: rag-system
      MYSQL_PASSWORD: rag-system
    networks:
      rag_network:
        aliases:
          - database

  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: secret
    networks:
      rag_network:
        aliases:
          - mongodb

#  api:
#    build: .
#    ports:
#      - "8000:8000"
#    depends_on:
#      - database
#      - mongodb
#    environment:
#      DB_NAME: test_sql
#      DB_USER: rag-system
#      DB_PASS: rag-system
#      DB_HOST: database
#      DB_PORT: 3306
#      ACCESS_TOKEN_EXPIRE_MINUTES: 1440
#      SECRET_KEY: 6b3d75e968f26f3be3443503efefd761e22d5e173fea95646a3659e673ebb97b
#      MONGO_HOST: mongodb
#      MONGO_DB_NAME: test_nosql
#      MONGO_PORT: 27017
#      MONGO_USER: mongoadmin
#      MONGO_PASS: secret
#    networks:
#      rag_network:
#        aliases:
#          - api

  email:
    build: ./email
    depends_on:
      - database
      - mongodb
    environment:
      DB_NAME: test_sql
      DB_USER: rag-system
      DB_PASS: rag-system
      DB_HOST: database
      DB_PORT: 3306
      ACCESS_TOKEN_EXPIRE_MINUTES: 1440
      SECRET_KEY: 6b3d75e968f26f3be3443503efefd761e22d5e173fea95646a3659e673ebb97b
      MONGO_HOST: mongodb
      MONGO_DB_NAME: test_nosql
      MONGO_PORT: 27017
      MONGO_USER: mongoadmin
      MONGO_PASS: secret
      
      SMTP_SERVER: "smtp.zoho.com"
      SMTP_PORT: 465
      SMTP_USERNAME: "tambo2022@zohomail.com"
      SMTP_PASSWORD: ""

      IMAP_SERVER: "imap.zoho.com"
      IMAP_PORT: 993
      IMAP_USERNAME: "tambo2022@zohomail.com"
      IMAP_PASSWORD: ""

      EMAIL_REST_SEC: 30

      PYTHONUNBUFFERED: 1
    # para dev luego eliminar
    # volumes:
    #   - /mnt/c/cmv-new/Python/pa_facu/fceia_chat/rag/email/app:/app  # Volumen agregado
    networks:
      rag_network:
        aliases:
          - email
    command: python /app/email_main.py
    #command: 'python -c "while True: pass"'


networks:
  rag_network:
    name: rag_network
