pycparser==2.22
pydantic==2.7.3
pydantic-settings==2.3.0
pydantic_core==2.18.4
pytest==8.2.1
uvicorn==0.30.1
fastapi==0.111.0
python-jose
passlib==1.7.4
peewee==3.17.5
websockets==12.0
wsproto==1.2.0
requests==2.32.3
starlette
bcrypt==4.2.0
pyjwt==2.8.0
pymysql==1.1.1
gunicorn==22.0.0
cryptography
mysql-connector-python
pymongo
